@model labQuiz_TARATHEP_ORA03_NETCore.Models.Employees
@{
    ViewBag.Title = "Details";
}

<h2>Employee Details</h2>

<div>
    <h4>employee</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.empNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.empNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.titleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.titleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.department)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.department)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.salary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.salary)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.empNo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
